* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Section*/

header{
    width: 100%;
    background-color: rgb(23,23,23,0.15);
    padding: 20px;
    position: absolute;
    top: 0;;
}


header .Container{
display: flex;
justify-content: space-between;
width: 1180px;
margin: auto;
}


header a{
    text-decoration: none;
margin-right: 100px;
font-size: var(--font-size-14);
letter-spacing: 1px;
color: rgba(255,255,255,0.719);
font-family: Tahoma;
}


/*Header Ending*/

/*Banner Section*/
.banner-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(32, 53, 65, 0.849), rgb(7, 53, 71)), url("./Image/img.avif"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-container .container{
display: flex;
justify-content: space-around;
width: 100%;
align-items: center;
}


/*Banner Ending*/

/*Left Section*/
.left-section{
    width: 600px;
    align-self: flex-start;
}

.left-section h1{
margin: 0;
color: white;
font-size: 40px;
}
.left-section p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.884);
    margin-top: 18px;
    line-height: 28px;
}
.left-section button{
    color: var(--primary-color);
    background-color: white;
    border: none;
    font-weight: bold;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}
/*Left Ending*/

/*Right Section*/

.right-section{
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 40px 0;
    box-shadow: 0 5px 6px rgba(0,0,0,.219);
}

.right-section h4{
font-size: 20px;
width: 300px;
margin: auto;
margin-bottom: 30px;
color: rgb(136, 136, 136);
}

.input-group{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-group label{
color: rgb(165, 165, 165);
font-size: var(--font-size-14);
position: absolute;
top: 10px;
transition: 0.5s ease-in-out;
}

.input-group input{
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-bottom: 1px solid #c9c9c98a;
    caret-color: black;
    color: var(--primary-color);
}


.input-group input:focus ~ label,
.input-group input:valid ~ label{
color: var(--primary-color);
top: -10px;
font-size: 12px;
}

.input-group input:focus,
.input-group input:valid{
border-color: var(--primary-color);
}


.submit-section{
    text-align: center; 
}
.submit-button{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
}
.submit-button:hover{
    box-shadow: 0 3px 6px silver;
}
/* Right Ending */


/*section two*/

.section-two{
display: flex;
justify-content: space-evenly;
height: 100vh;
align-items: center;
}

.card-container{
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 5px 26px rgb(121, 93, 93);
    overflow: hidden;
    text-align: center;
}
.card-container h1{
color: rgb(136, 136, 136);
}

.image-contaner{
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.image-contaner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.image-contaner img:hover{
transform: scale(1.1) rotate(-5deg);
}

/*section two ending*/

footer{
    text-align: center;
    color: gray;
    padding: 15px;
}
footer span{
    color: var(--primary-color);
    font-weight: bold;
}